@model IEnumerable<DTO_Integrador.AdministradorDTO>

@{
    ViewData["Title"] = "Administradores";
}

<h1>Administradores</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Correo</td>
                <td>@item.RolNombre</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
